# Server
PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:4200

# Database
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=project_manager

# Session
SESSION_SECRET=your-secret-key-change-in-production

# Admin (created on first run)
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Administrator
